.imagen__nr {
    width: 20rem;
}

.section__nr {
    display: flex;
    flex-flow: column;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.article__nr {
    display: flex;
    align-items: center;
    padding-top: 4rem;

    .article__nr__text {
        margin-left: 5rem;
    }
}
/*carousel*/

.article__carousel{
    margin-top: 2rem;
}
.carousel-inner {
    width: 100%;
    padding: 1.5rem;
    border: black solid 2px;
    
    img {
        width: 100%;
    }

    .card {
        background-color: none;
        border: none;
        margin: 0 0.5rem 0 0.5rem;

    }
}

.carousel-inner--ma {
    background-color: #ffd600;
}

.carousel-inner--un {
    background-color: #265500;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: white;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev--position {
    left: 20px;
}

.carousel-control-next--position {
    right: 20px;
}

@media (min-width:360px) and (max-width:650px) {
    .imagen__nr {
        width: 20rem;
        margin-bottom: 2rem;

    }

    .article__nr {
        flex-flow: column;
        padding-top: 2rem;

        .article__nr__text {
            margin-left: 0;
        }
    }

    .carrousel__nr {
        margin-top: 2rem;
        display: flex;
        flex-flow: column;
        border: black solid 2px;
        justify-content: space-around;

        img {
            margin: 1rem;
            width: 20rem;
            height: auto;
        }
    }
}

@media (min-width:650px) and (max-width:900px) {
    .article__nr {
        flex-flow: row;
        padding-top: 2rem;

        .article__nr__text {
            margin-left: 2rem;
        }
    }

    .carrousel__nr {
        margin-top: 2rem;
        display: flex;
        flex-flow: wrap;
        align-items: left;
        padding: 1rem;
        border: black solid 2px;
        justify-content: space-between;

        img {
            margin: 1rem;
            width: 40%;
            height: auto;
        }
    }

}

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.3%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.3%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}